   <header class="header bg-danger" >
       <div id="rt-sticky-placeholder"></div>
       <div id="header-menu" class=" bg-accent">
               <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: #cf2e2e;">
                   <div class="flex-row d-flex">
                       <a class="navbar-brand text-lg" href="#">
                           <div class="phone-number text-white text-lg-right">
                               <i class="flaticon-call-answer text-white"></i>
                               <a class="mr-5 text-white font-weight-bold">
                                   (231) 384-5753
                               </a>
                           </div>
                       </a>
                       <div style="width: 730px;"></div>

                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           <a class="text-white mr-5 font-weight-bold">
                               Careers
                           </a>
                           <a class=" text-white font-weight-bold">
                               Contact Us
                           </a>
                       </div>
                   </div>

               </nav>
           <nav class="navbar navbar-expand-lg navbar-light bg-light ">

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarText">
                   <ul class="navbar-nav ml-auto mr-auto">
                       <a class="navbar-brand" href="#">
                           <img class="ml-5" src="/images/logo.jpg" width="250" height="250" alt="ascensionmoving">
                       </a>
                       <li class="nav-item active m-4">
                           <div class="dropdown base-color" onmouseenter="showDropdown('movingServices')" onmouseleave="hideDropdown('movingServices')">
                               <button class="btn btn-outline-light dropdown-toggle hover-base-color" type="button" aria-expanded="false" style="font-size: 1.2em">
                                   <span class="base-color font-weight-bold">Moving Services</span>
                               </button>
                               <div class="dropdown-menu bg-light rounded" id="movingServices" style="font-size: 1.2em" onmouseenter="showDropdown('movingServices')" onmouseleave="hideDropdown('movingServices')">
                                   <a class="dropdown-item base-color  hover-accent" href="#">Local Moving</a>
                                   <div class="dropdown-divider "></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Local Distance Moving</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color  hover-accent" href="#">Packing & Unpacking</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color  hover-accent" href="#">Loading & Unloading</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Storage & Declutter</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Apartment & Condo Moving</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Senior Moving</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Specialty Moving Services</a>
                               </div>
                           </div>
                       </li>

                       <li class="nav-item m-4">
                           <div class="dropdown base-color" onmouseenter="showDropdown('locations')" onmouseleave="hideDropdown('locations')">
                               <button class="btn btn-outline-light dropdown-toggle " type="button" aria-expanded="false" style="font-size: 1.2em">
                                   <span class="base-color font-weight-bold">Locations</span>
                               </button>
                               <div class="dropdown-menu bg-light rounded p-3" id="locations" style="font-size: 1.2em" onmouseenter="showDropdown('locations')" onmouseleave="hideDropdown('locations')">
                                       <a class="dropdown-item base-color hover-accent" href="#">Traverse City, MI</a>


                                   <div class="dropdown-divider"></div>
                                   <div class="btn-group dropright" onmouseenter="showDropdown('dallasTX')">
                                       <a class="dropdown-item base-color hover-accent" href="#">Kingsley, MI</a>
                                   </div>
                                   <div class="dropdown-divider"></div>
                                   <div class="btn-group dropright" onmouseenter="showDropdown('laudraleAX')">
                                       <a class="dropdown-item base-color hover-accent" href="#">Kalkaska, MI</a>
                                   </div>
                               </div>
                           </div>
                       </li>

                       <li class="nav-item m-4">
                               <button class="btn btn-outline-light hover-white" type="button"  style="font-size: 1.2em">
                                   <span class="base-color font-weight-bold">Moving Resources</span>
                               </button>
                       </li>
                       <li class="nav-item m-4">
                           <div class="dropdown base-color" onmouseenter="showDropdown('about')" onmouseleave="hideDropdown('about')">
                               <button class="btn btn-outline-light dropdown-toggle" type="button" aria-expanded="false" style="font-size: 1.2em">
                                   <span class="base-color font-weight-bold">About</span>
                               </button>
                               <div class="dropdown-menu bg-light rounded" id="about" style="font-size: 1.2em" onmouseenter="showDropdown('about')" onmouseleave="hideDropdown('about')">
                                   <a class="dropdown-item base-color hover-accent" href="#">Our Values</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color hover-accent" href="#">Social Responsibility</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item base-color  hover-accent" href="#">Leadership</a>
                               </div>
                           </div>
                       </li>
                       <a href="#" class="m-3">
                           <button type="submit" class="btn-fill-md text-textprimary" style="background-color: #cf2e2e;">
                               Let's Talk<i class="fas fa-chevron-right"></i>
                           </button>
                       </a>
                   </ul>
               </div>
           </nav>
       </div>
   </header>
