<h2 class="h1 my-4">Frequently Asked Questions</h2>

<p>Q: Does Ascension Moving Serve The Traverse City, Michigan Area??
</p>
<p class="text-danger">A: Yes, They do serve this City and surrounding areas.
</p>
<br/>

<p>Q: Does Ascension Moving screen there employees before being hired?
</p>
<p class="text-danger">A: Yes! Our moving crews are thoroughly screened and professionally trained.
</p>
<br/>

<p>Q: Eu proident quis do magna eiusmod commodo nulla minim?
</p>
<p class="text-danger">A: Magna irure non aliqua aliqua cillum ea excepteur eiusmod id pariatur culpa Lorem aliquip.
</p>
<br/>

<p>Q: Voluptate Lorem commodo quis exercitation quis ex incididunt?
</p>
<p class="text-danger">A: Sint non labore minim amet sit cupidatat nisi velit eu officia sit velit.
</p>
<br/>

<p>Q: Cupidatat magna commodo ea sit?
</p>
<p class="text-danger">A: Magna veniam laboris anim elit occaecat irure consequat sit.
</p>
