<header class="header bg-danger">
  <div id="rt-sticky-placeholder"></div>
  <div id="header-menu" class=" bg-accent">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center px-4 py-3"
      style="background-color: #cf2e2e;">
      <div class="w-100 flex-row d-flex align-items-center justify-content-between mx-auto text-2xl"
        style="max-width: 175ch;">
        <div class="phone-number d-flex align-items-center justify-content-between text-white text-lg-right">
          <i class="flaticon-call-answer text-white mr-3"></i>
          <a class="mr-5 text-white font-weight-bold">
            (231) 384-5753
          </a>
        </div>

        <div class="d-flex align-items-end">
          <a href="/careers" class="text-white mr-5 font-weight-bold">
            Careers
          </a>
          <a href="/contact-us" class=" text-white font-weight-bold">
            Contact Us
          </a>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav d-flex align-items-center text-xl ml-auto mr-auto">

          <a class="navbar-brand" href="/">
            <img class="ml-5" src="/images/logo.jpg" width="250" height="250" alt="ascensionmoving">
          </a>
          
          <li class="nav-item active mx-1">
            <div class="dropdown base-color" onmouseenter="showDropdown('movingServices')"
              onmouseleave="hideDropdown('movingServices')">
              <button class="btn btn-outline-light dropdown-toggle hover-base-color" type="button" aria-expanded="false"
                style="font-size: 1.2em">
                <span class="base-color font-weight-bold">Moving Services</span>
              </button>
              <div class="dropdown-menu bg-light rounded" id="movingServices" style="font-size: 1.2em"
                onmouseenter="showDropdown('movingServices')" onmouseleave="hideDropdown('movingServices')">
                <a class="dropdown-item base-color hover-accent" href="/arts-antiques">Arts & Antiques</a>
                <div class="dropdown-divider "></div>
                <a class="dropdown-item base-color hover-accent" href="/local-moving">Local Moving</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/local-distance-moving">Local Distance Moving</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/packing-unpacking">Packing & Unpacking</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/loading-unloading">Loading & Unloading</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/storage-declutter">Storage & Declutter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/apartment-condo-moving">Apartment & Condo Moving</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/senior-moving">Senior Moving</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item base-color hover-accent" href="/specialty-moving-services">Specialty Moving Services</a>
              </div>
            </div>
          </li>

          <li class="nav-item mx-1">
            <div class="dropdown base-color" onmouseenter="showDropdown('locations')"
              onmouseleave="hideDropdown('locations')">
              <button class="btn btn-outline-light dropdown-toggle " type="button" aria-expanded="false"
                style="font-size: 1.2em">
                <span class="base-color font-weight-bold">Locations</span>
              </button>
              <div class="dropdown-menu bg-light rounded p-3" id="locations" style="font-size: 1.2em"
                onmouseenter="showDropdown('locations')" onmouseleave="hideDropdown('locations')">
                <a class="dropdown-item base-color hover-accent" href="#">Traverse City, MI</a>
                <div class="dropdown-divider"></div>
                <div class="btn-group dropright" onmouseenter="showDropdown('dallasTX')">
                  <a class="dropdown-item base-color hover-accent" href="#">Kingsley, MI</a>
                </div>
                <div class="dropdown-divider"></div>
                <div class="btn-group dropright" onmouseenter="showDropdown('laudraleAX')">
                  <a class="dropdown-item base-color hover-accent" href="#">Kalkaska, MI</a>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item mx-1">
            <a class="btn btn-outline-light hover-white" type="button" style="font-size: 1.2em">
              <span class="base-color font-weight-bold">Moving Resources</span>
            </a>
          </li>

          <li class="nav-item mx-1">
            <a href="/about-us" class="btn btn-outline-light hover-white" type="button" style="font-size: 1.2em">
              <span class="base-color font-weight-bold">About Us</span>
            </a>
          </li>

          <li class=" mx-1">
            <a href="/contact-us" class="m-3">
              <button type="submit" class="btn-fill-md text-textprimary" style="background-color: #cf2e2e;">
                Let's Talk<i class="fas fa-chevron-right"></i>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>