<section class="blog-wrap-layout3" style="background-color:beige;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading-layout1 text-center mt-5 ml-5 d-flex align-items-center justify-content-center">
          <h2>Flexible Services To Fit Your Moving Needs</h2>
        </div>
      </div>
    </div>

    <div class="container container-fluid">
      <div class="row flex-row justify-content-center">
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/hero-ascencionmovers.jpg" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Local Home Moving</h5>
                  <p class="card-text">
                  <p>Your move, your way means we take care of you with <strong>quality</strong>,
                    <strong>transparency</strong> and <strong>flexibility </strong>– providing
                    an&nbsp;<strong>efficient</strong> moving experience
                    that is <strong>personalized</strong>.
                  </p>
                  </p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/Long-Distance-Moving.png" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Long Distance Moving</h5>
                  <p class="card-text">
                    Leveraging <strong>two decades of experience</strong> in long distance moving,
                    our team and partners have the breadth of service to <strong>easily and
                      safely</strong> get you and your goods to your new home.
                  </p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/Packing-and-Unpacking.png" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Packing & Unpacking</h5>
                  <p class="card-text">Full-service to DIY packing options make it
                    <strong>easy</strong> to get your move <strong>quickly prepped</strong>. Our
                    <strong>highly trained crews</strong> ensure your items arrive
                    <strong>safe</strong> and
                    <strong>sound</strong>.
                  </p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row justify-content-center">
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/Storage-Services.png" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Arts & Antiques</h5>
                  <p class="card-text">
                    <strong>Expert</strong>&nbsp;and&nbsp;<strong>professional</strong>&nbsp;arts
                    & antique moving. Your precious family heirloom items
                    are&nbsp;<strong>safe</strong>&nbsp;and&nbsp;<strong>secure</strong>,
                    with our experienced moving team.
                  </p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/Apartment-and-Condo.png" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Apartment & Condo</h5>
                  <p class="card-text"><strong>Experienced</strong> with the unique challenges of
                    moving in and out of condos and apartments. Including <strong>flexible
                      scheduling </strong>and protections for common areas.</p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-3 bg-transparent border-none" style="max-width: 540px; width: 100%;">
            <div class="row no-gutters">
              <div class="col-3 col-lg-2 p-2">
                <img src="/images/Senior-Moving.png" alt="home move">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder base-color text-3xl">
                    Senior Moving</h5>
                  <p class="card-text"><strong>Safety, comfort</strong> and <strong>ease</strong>
                    are all imperative when it comes to senior moves. We strive to make
                    your&nbsp; move as <strong>stress-free</strong> as possible.</p>
                  <a href="#" class="card-text font-weight-bolder text-danger">Learn More <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
