<section class="service-wrap-layout4 bg-light ">
    <div class="container fluid">
        <div class="row">
            <div class="col-12">
                <div class="heading-layout1 d-flex flex-column align-items-center mx-auto"
                    style="max-width: 90ch;font-size: 2rem;">
                    <h2 class="heading" style="color: rgb(95,12,12)">Your Trusted and Professional Movers</h2>
                    <div class="item-content d-flex flex-column align-items-center">
                        <p class="text-center" id="p">
                            We understand that your moving day is a significant event. Move confidently with our
                            team of skilled and well-trained moving experts. Here's why Ascension Moving, along with
                            our reliable and top-tier moving partners, stands out as the best choice for
                            both local and long-distance moves:
                        </p>
                        <div class="container">
                            <div class="row justify-content-center align-items-center mx-auto" style="max-width: 75ch;">
                                <ul class="list-group list-group-flush bg-light">
                                    <li class="list-group-item bg-light border-none d-flex align-items-center">
                                        <i class="fa fa-check-circle mr-3 text-success fa-2x" aria-hidden="true"></i>
                                        <span class="my-auto">Thoroughly screened and professionally trained
                                            moving crews.</span>
                                    </li>
                                    <li class="list-group-item bg-light border-none d-flex align-items-center">
                                        <i class="fa fa-check-circle mr-3 text-success fa-2x" aria-hidden="true"></i>
                                        Complete price transparency – no unexpected
                                        surprises or hidden fees.
                                    </li>
                                    <li class="list-group-item bg-light border-none d-flex align-items-center">
                                        <i class="fa fa-check-circle mr-3 text-success fa-2x" aria-hidden="true"></i> A
                                        hassle-free process, with the flexibility
                                        to schedule at your convenience.
                                    </li>
                                    <li class="list-group-item bg-light border-none d-flex align-items-center">
                                        <i class="fa fa-check-circle mr-3 text-success fa-2x" aria-hidden="true"></i>
                                        Tailored moving services – you only pay for
                                        the services you truly need.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="mt-5 text-info text-center">
                            Rest assured, with AscensionMoving, your move is in capable hands.
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>