<section>
  <div class="text-center beige-review-section">
    <div class="container">
      <div class="sec-title">
        <h2 class="locations-heading text-blue">
          Proudly Serving All of The Below Listed Areas<br />
        </h2>
      </div>
      <p class="para-1">
        Traverse City - Cadillac - Kalkaska - Frankfort - Charlevoix - Suttons Bay - Petoskey - Mackinaw
        City - Grayling <br /> - Gaylord - Manistee - Onekama - Bear Lake - Interlochen - Elk Rapids - Fife
        Lake <br /> - Manistee - Harbor
        Springs - Glen Arbor - Leland - Empire - Lake Ann - Torch Lake
      </p>
      <br />
      <div class="sec-title">
        <h2 class="review-heading text-red">See Our Reviews On:<br /></h2>
      </div>
      <div>
        <a
          href="https://www.google.com/maps/place/Ascension+Moving+Company+LLC/@45.0204126,-86.266099,9z/data=!4m8!3m7!1s0x401408a8c52c06af:0x334a9d60143b9213!8m2!3d45.0223094!4d-85.606771!9m1!1b1!16s%2Fg%2F11vxhkbzvf?entry=ttu&g_ep=EgoyMDI2MDcyMC4wIKXMDSoASAFQAw%3D%3D">
          <img src="/images/view-google-reviews.png" />
        </a>
      
      </div>
    </div>
  </div>
</section>
