<section class="testimonial-wrap-layout1 bg-common" style="background-color: #f5dcd0">
  <div class="container">
    <div class="heading-layout1 text-center">
      <div class="item-subtitle">Testimonials</div>
      <h2>Recent Testimonials</h2>
    </div>
    <div class="rc-carousel dot-control-layout1" data-loop="true" data-items="10" data-margin="30" data-autoplay="false"
      data-autoplay-timeout="3000" data-smart-speed="1000" data-dots="true" data-nav="false" data-nav-speed="false"
      data-r-x-small="1" data-r-x-small-nav="false" data-r-x-small-dots="true" data-r-x-medium="1"
      data-r-x-medium-nav="false" data-r-x-medium-dots="true" data-r-small="1" data-r-small-nav="false"
      data-r-small-dots="true" data-r-medium="2" data-r-medium-nav="false" data-r-medium-dots="true" data-r-large="2"
      data-r-large-nav="false" data-r-large-dots="true" data-r-extra-large="2" data-r-extra-large-nav="false"
      data-r-extra-large-dots="true">

      {% include "components/testimonials/1.html" %}

     
    </div>
  </div>
</section>
