<div class="testimonial-box-layout1 bg-textprimary">
  <div class="media media-none--xs">
    <div class="item-img">
      <img src="/images/client1.png" class="media-img-auto" alt="feedback" style="width: 70px; height: 70px" />
    </div>
    <div class="media-body">
      <h3 class="item-title text-4xl">Brooke Llewellyn</h3>
      <ul class="item-rating">
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
      </ul>
    </div>
  </div>
  <p class="text-2xl">
    “ Josh and his team at Ascension Moving are my first call for all my moving needs. Whether it's for a whole 
house move or needing to have a few pieces moved out of a storage unit, they're who I trust to do the job. They do a fantastic job packing and protecting furniture and delicate items. They're reliable, hard working, and honest. I have peace of mind knowing I can call them for all my moving needs and they will show up, on time, ready to work.   ”
  </p>
</div>
