<div class="testimonial-box-layout1 bg-textprimary">
  <div class="media media-none--xs">
    <div class="item-img">
      <img src="/images/client1.png" class="media-img-auto" alt="feedback" style="width: 70px; height: 70px" />
    </div>
    <div class="media-body">
      <h3 class="item-title text-4xl">Shane Rezzo</h3>
      <ul class="item-rating">
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
      </ul>
    </div>
  </div>
  <p class="text-2xl">
    “ Very happy with the service and results of my siding, soffit, fascia, and trim power washing.
    All built-up growth has been removed and no impact to the home, grass, or surrounding plants.
    Jason was delivering flyers in our neighborhood just when I was
    in the market to get my home exterior washed, and he made the quote, scheduling, and cleaning
    process very smooth. Professional and friendly service! ”
  </p>
</div>