<div class="testimonial-box-layout1 bg-textprimary">
  <div class="media media-none--xs">
    <div class="item-img">
      <img src="/images/client2.png" class="media-img-auto" alt="feedback" style="width: 70px; height: 70px" />
    </div>
    <div class="media-body">
      <h3 class="item-title text-4xl">Jerry Swanson</h3>
      <ul class="item-rating">
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
      </ul>
    </div>
  </div>
  <p class="text-2xl">
    “ Excellent company to deal with. Jason responded to our call immediately and gave us quote the
    same day. He did an excellent job on our home and decks. Very fair price. Highly recommend and
    will definitely call Anchor Pro Wash again! ”
  </p>
</div>