<div class="testimonial-box-layout1 bg-textprimary">
  <div class="media media-none--xs">
    <div class="item-img">
      <img src="/images/client4.png" class="media-img-auto" alt="feedback" style="width: 70px; height: 70px" />
    </div>
    <div class="media-body">
      <h3 class="item-title text-4xl">George Nugent</h3>
      <ul class="item-rating">
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
      </ul>
    </div>
  </div>
  <p class="text-2xl">
    “ Jason and his staff did a great job! They worked on my timing for the work, showed up on time,
    and were thorough in every aspect of the deck cleaning and power washing. ”
  </p>
</div>