<div class="testimonial-box-layout1 bg-textprimary">
  <div class="media media-none--xs">
    <div class="item-img">
      <img src="/images/client5.png" class="media-img-auto" alt="feedback" style="width: 70px; height: 70px" />
    </div>
    <div class="media-body">
      <h3 class="item-title text-4xl">Darla Balas</h3>
      <ul class="item-rating">
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-star"></i></li>
      </ul>
    </div>
  </div>
  <p class="text-2xl">
    “ Jason was very easy to work with and was very friendly. He explained the roof cleaning process
    and offered to return if any areas were missed or other needs arose. He was quick in all aspects
    and very flexible as well, as we had to reschedule several
    times. Thanks Jason! ”
  </p>
</div>