<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{tags}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" />
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="/font/flaticon.css" />
    <!-- Nivo Slider CSS -->
    <link rel="stylesheet" href="/vendor/slider/css/nivo-slider.css" />
    <!-- Owl Carousel js -->
    <link rel="stylesheet" href="/vendor/OwlCarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendor/OwlCarousel/owl.theme.default.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/css/select2.min.css" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- new page css -->
    <link rel="stylesheet" href="/css/additional.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Modernize js -->
    <script src="/js/modernizr-3.7.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css"
        rel="stylesheet">

</head>

<body class="sticky-header">
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div id="wrapper" class="wrapper">
        {% include "components/header.html" %}

        {{ content | safe }}

        {% include "components/footer.html" %}
    </div>

    <!-- jquery-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
      
    $('#contact-form').on('submit', function(event) {
    event.preventDefault(); // prevent reload
    
    var formData = new FormData(this);
    formData.append('service_id', 'service_rzf5dss');
    formData.append('template_id', 'template_k8cj439');
    formData.append('user_id', 'KBwoBgWenRXbso0Z3');
 
    $.ajax('https://api.emailjs.com/api/v1.0/email/send-form', {
        type: 'POST',
        data: formData,
        contentType: false, // auto-detection
        processData: false // no need to parse formData to string
    }).done(function() {
        window.location.href="/thanks";
    }).fail(function(error) {
        alert('Oops... ' + JSON.stringify(error));
    });
});
     
    </script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- MeanMenu js -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- Isotop js -->
    <script src="/js/isotope.pkgd.min.js"></script>
    <!-- ImagesLoaded js -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Nivo Slider js -->
    <script src="/vendor/slider/js/jquery.nivo.slider.js"></script>
    <script src="/vendor/slider/home.js"></script>
    <!-- Owl Carousel js -->
    <script src="/vendor/OwlCarousel/owl.carousel.min.js"></script>
    <!-- Counter Up js -->
    <script src="/js/jquery.counterup.min.js"></script>
    <!-- Waypoints js -->
    <script src="/js/waypoints.min.js"></script>
    <!-- Magnific Popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Select 2 js -->
    <script src="/js/select2.min.js"></script>
    <!-- Validator js -->
    <script src="/js/validator.min.js"></script>
    <!-- Parallax js -->
    <script src="/js/parallax.min.js"></script>
    <!-- Main js -->
    <script src="/js/main.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'mm/dd/yyyy', // Date format
                autoclose: true, // Automatically close the datepicker when a date is selected
                todayHighlight: true // Highlight today's date
            });
        });
    </script>

    <script>
        function showDropdown(menuId) {
            var dropdownMenu = document.getElementById(menuId);
            dropdownMenu.style.display = 'block';
        }

        function hideDropdown(menuId) {
            var dropdownMenu = document.getElementById(menuId);
            dropdownMenu.style.display = 'none';
        }
    </script>

 <!--popup_form end-->
    <script src="js/plugins/bootstrap.min.js"></script>
    <script src="js/plugins/moment.min.js"></script>
    <script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
    <script src="js/plugins/jquery.form.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="js/plugins/slick.min.js"></script>
    <script src="js/plugins/custom-tabs.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/scripts.js"></script>


</body>

</html>
