---
layout: layouts/base.njk
title: Ascension Moving, LLC. | New Web Site Coming Soon!
---

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div
        class="position-relative col-md-12"
        style=" background: linear-gradient(to right, rgba(0, 24, 46,250), rgba(0, 32, 54, 0)), url('/images/kingsley-hero.jpg');
          background-size: cover; background-position: center center; height: 500px;">
        <div class="d-flex align-items-center justify-content-center h-100 mx-auto px-4" style="max-width: 200ch;">
          <div style="max-width: 80ch;">
            <h1 class="text-light display-1 font-weight-bolder">
              Kingsley
            </h1>
            <p class="text-light text-4xl">Nisi sint consequat commodo sit cupidatat in excepteur aute excepteur.</p>
            <p class="text-light text-2xl">Veniam reprehenderit velit dolor aute consectetur mollit aliqua proident commodo officia
              cillum. Tempor magna eu cupidatat nostrud amet adipisicing consequat qui ipsum anim nulla nostrud.</p>
          </div>
          <div class="hide-md slider-box-form ml-auto">
            <div class="about-box-layout3">
              <div class="item-heading">
                <h3 class="item-title">Get An Estimate</h3>
              </div>
              <div class="contact-form-box" id="contact-form-3">
                <div class="row">
                  <div class="col-12 form-group">
                    <a href="/contact-us">
                      <button type="submit" class="fw-btn-fill bg-Primary text-textprimary">
                        Get A Free Estimate<i class="fas fa-chevron-right"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mx-auto p-5 text-3xl" style="max-width: 110ch;line-height: 1.75;">
    <div class="text-2xl my-4">
      <a href="/">Home</a>
      &gt; Locations
                  &gt; Kingsley
    </div>
    <h2 class="text-center text-5xl m-5">Kingsley Moving Services</h2>
    <p class="my-5">Mollit ea aliquip esse et elit id quis sint. Ipsum reprehenderit do aliquip dolore non voluptate
      consectetur cupidatat. Duis exercitation in labore enim adipisicing amet. Incididunt velit veniam ullamco velit officia
      amet ea aliqua do esse velit consequat ex velit.</p>
    <p class="my-5">Minim sit dolore commodo enim ipsum. Dolore qui qui aliqua nostrud adipisicing Lorem velit qui. Laborum
      cupidatat incididunt aliquip officia excepteur adipisicing Lorem. Consectetur qui ex nulla et est Lorem enim commodo
      occaecat do non cupidatat aliqua non. Qui cillum incididunt eu laborum dolore exercitation quis sunt mollit veniam
      pariatur tempor occaecat ex. Et nulla consequat eiusmod fugiat ea reprehenderit sunt anim pariatur sint nostrud ut.</p>
    <p class="my-5">Amet in ipsum culpa minim ut cillum magna tempor enim nulla voluptate culpa quis enim. Cupidatat
      proident ipsum ad sunt amet do nulla mollit ad tempor occaecat minim. In sint aliqua veniam laborum dolore cupidatat
      amet id anim sit mollit consectetur sit. Proident mollit sit aliqua non pariatur consectetur velit fugiat. Tempor magna
      id in ex amet ex cupidatat.</p>
    {% include "components/FAQ.html" %}
    {% include "components/callus.html" %}
    <h2 class="my-4">Kingsley Culture</h2>
    <p class="my-5">Kingsley is a village in Grand Traverse County in the U.S. state of Michigan. The population was 1,431
      at the 2020 census. The village is located within Paradise Township and is part of the Traverse City micropolitan area.</p>
    <h2 class="my-4">History</h2>
    <p class="my-5">The land Kingsley sits on today was originally owned by its founders, Judson Kingsley and Myron S. Brownson. In 1872, the Pennsylvania Railroad was completed between Cadillac and Traverse City. Kingsley built a station for the new railroad, which happened to run through his property. Kingsley also opened a post office, known as Kingsley Station. In 1876, Judson Kingsley platted Kingsley Station as a new village under the shortened name of Kingsley.</p>
    <p class="my-5">In 1874, Brownson, a practicing medic from Steuben County, New York, bought land adjacent to that of Kingsley. In July 1882, Brownson platted his land into a new settlement he called Paradise. In 1893, the villages of Kingsley and Paradise united and incorporated under the name of Kingsley </p>
    <img src="/images/kingsley-hero.jpg" alt="Kingsley, Michigan - Photo courtesy of Wiki"/>
    <p class="text-2xl">Kingsley, Michigan - Photo courtesy of Wiki</p>
    <p class="my-5">According to the United States Census Bureau, the village has a total area of 1.44 square miles, of which 1.42 square miles is land and 0.02 square miles is water.</p>
    <p class="my-5">The Kingsley ZIP code, 49649, serves the majority of Paradise Township, as well as the southwest corner of Union Township, the western portion of Fife Lake Township, a portion of northern Greenwood Township, the northeast corner of Hanover Township, a large portion of eastern Mayfield Township, and the southeast corner of Blair Township</p>
    {% include "components/callus.html" %}
  </div>
</section>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22732.9835904568!2d-85.55439002361786!3d44.58428271406908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881fb427fce82efb%3A0x77a809caeb5a937c!2sKingsley%2C%20MI%2049649!5e0!3m2!1sen!2sus!4v1697567843219!5m2!1sen!2sus"
    width="100%"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% include "components/sections/card_grid.html" %}
{% include "components/sections/testimonials.html" %}
{% include "components/sections/review.html" %}
{% include "components/sections/service_area.html" %}
{% include "components/sections/map.html" %}