---
layout: layouts/base.njk
title: Ascension Moving, LLC. | Proudly Serving The Traverse City, Michigan Area
---

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div
        class="position-relative col-md-12"
        style=" background: linear-gradient(to right, rgba(0, 24, 46,250), rgba(0, 32, 54, 0)), url('/images/traverse-city-hero.jpg');
          background-size: cover; background-position: center center; height: 500px;">
        <div class="d-flex align-items-center justify-content-center h-100 mx-auto px-4" style="max-width: 200ch;">
          <div style="max-width: 80ch;">
            <h1 class="text-light display-1 font-weight-bolder">
              Traverse City
            </h1>
            <p class="text-light text-4xl">Nisi sint consequat commodo sit cupidatat in excepteur aute excepteur.</p>
            <p class="text-light text-2xl">Veniam reprehenderit velit dolor aute consectetur mollit aliqua proident commodo officia
              cillum. Tempor magna eu cupidatat nostrud amet adipisicing consequat qui ipsum anim nulla nostrud.</p>
          </div>
          <div class="hide-md slider-box-form ml-auto">
            <div class="about-box-layout3">
              <div class="item-heading">
                <h3 class="item-title">Get An Estimate</h3>
              </div>
              <div class="contact-form-box" id="contact-form-3">
                <div class="row">
                  <div class="col-12 form-group">
                    <a href="/contact-us">
                      <button type="submit" class="fw-btn-fill bg-Primary text-textprimary">
                        Get A Free Estimate<i class="fas fa-chevron-right"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mx-auto p-5 text-3xl" style="max-width: 110ch;line-height: 1.75;">
    <div class="text-2xl my-4">
      <a href="/">Home</a>
      &gt; Locations
            &gt; Traverse City
    </div>
    <h2 class="text-center text-5xl m-5">Traverse City Moving Services</h2>
    <p class="my-5">When it comes to home moving, Ascension Moving stands out as the top choice. With years of experience in the industry, their 
team of professionals understands the importance of safely moving and caring for your home items. </p>
    <p class="my-5">Minim sit dolore commodo enim ipsum. Dolore qui qui aliqua nostrud adipisicing Lorem velit qui. Laborum
      cupidatat incididunt aliquip officia excepteur adipisicing Lorem. Consectetur qui ex nulla et est Lorem enim commodo
      occaecat do non cupidatat aliqua non. Qui cillum incididunt eu laborum dolore exercitation quis sunt mollit veniam
      pariatur tempor occaecat ex. Et nulla consequat eiusmod fugiat ea reprehenderit sunt anim pariatur sint nostrud ut.</p>
    <p class="my-5">Amet in ipsum culpa minim ut cillum magna tempor enim nulla voluptate culpa quis enim. Cupidatat
      proident ipsum ad sunt amet do nulla mollit ad tempor occaecat minim. In sint aliqua veniam laborum dolore cupidatat
      amet id anim sit mollit consectetur sit. Proident mollit sit aliqua non pariatur consectetur velit fugiat. Tempor magna
      id in ex amet ex cupidatat.</p>
    {% include "components/FAQ.html" %}
    {% include "components/callus.html" %}
    <h2 class="my-4">Traverse City Culture</h2>
    <p class="my-5">Most of Traverse City’s economy is based on tourism. As part of the 2011 tourism advertising campaign the Traverse City Visitors Bureau, Traverse City Cherry Capital Airport and local businesses sponsored a video to be played on all Delta flights in the month of June 2011. The National Cherry Festival, usually in the first week of July, tends to host hundreds of thousands of tourists and locals to the area, as does the Traverse City Film Festival (established in 2005) at the end of July. It has become a focal point within the craft brewing trend. In November Beer Week is celebrated, with tours of breweries including samplings of craft brews, dinners and workshops.</p>
    <img src="/images/traverse-city-cherry-festival.jpg" alt="2012 Traverse City Cherry Festival - Photo courtesy of Wikie"/>
    <p class="text-2xl">2012 Traverse City Cherry Festival - Photo courtesy of Wikie</p>
    <p class="my-5">The National Cherry Festival, held during the first full week of July every year, is a draw for tourists to Traverse City. The festival features parades, fireworks, an air show, election of festival royalty, live music, a pie-eating contest and cherries. It is estimated that the Grand Traverse region produces up to 360,000,000 pounds (163,000,000 kg) of cherries annually. The largest variety of cherry produced locally is the Montmorency cherry, or the “pie cherry”. Other cherries grown in the region include the Ulster, or sweet cherry, and the Balaton (from Lake Balaton in Hungary), a cherry situated between the Montmorency and Ulster in terms of color and taste.</p>
    {% include "components/callus.html" %}
  </div>
</section>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45337.024190618125!2d-85.6462069114261!3d44.748910951874734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881e32b2d7da29dd%3A0x47bfdc3f3f745621!2sTraverse%20City%2C%20MI!5e0!3m2!1sen!2sus!4v1689649979796!5m2!1sen!2sus"
    width="100%"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% include "components/sections/card_grid.html" %}
{% include "components/sections/testimonials.html" %}
{% include "components/sections/review.html" %}
{% include "components/sections/service_area.html" %}
{% include "components/sections/map.html" %}
