---
layout: layouts/base.njk
title: Ascension Moving, LLC. | New Web Site Coming Soon!
---

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div
        class="position-relative col-md-12"
        style=" background: linear-gradient(to right, rgba(0, 24, 46,250), rgba(0, 32, 54, 0)), url('/images/movers-header.jpg');
          background-size: cover; background-position: top center; height: 500px;">
        <div class="d-flex align-items-center justify-content-center h-100 mx-auto px-4" style="max-width: 200ch;">
          <div style="max-width: 80ch;">
            <h1 class="text-light display-1 font-weight-bolder">
              Kingsley
            </h1>
            <p class="text-light text-4xl">Nisi sint consequat commodo sit cupidatat in excepteur aute excepteur.</p>
            <p class="text-light text-2xl">Veniam reprehenderit velit dolor aute consectetur mollit aliqua proident commodo officia
              cillum. Tempor magna eu cupidatat nostrud amet adipisicing consequat qui ipsum anim nulla nostrud.</p>
          </div>
          <div class="hide-md slider-box-form ml-auto">
            <div class="about-box-layout3">
              <div class="item-heading">
                <h3 class="item-title">Get An Estimate</h3>
              </div>
              <form class="contact-form-box" id="contact-form-3">
                <div class="row">
                  <div class="col-12 form-group">
                    <a href="/contact-us.html">
                      <button type="submit" class="fw-btn-fill bg-Primary text-textprimary">
                        Get A Free Estimate<i class="fas fa-chevron-right"></i>
                      </button>
                    </a>
                  </div>
                </div>
                <div class="form-response"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mx-auto p-4 text-3xl" style="max-width: 75ch;line-height: 1.75;">
    <div class="text-2xl my-4">
      <a href="/">Home</a>
      &gt; Kingsley
    </div>
    <h2 class="text-center text-5xl m-5">Kingsley Moving Services</h2>
    <p class="my-5">Mollit ea aliquip esse et elit id quis sint. Ipsum reprehenderit do aliquip dolore non voluptate
      consectetur cupidatat. Duis exercitation in labore enim adipisicing amet. Incididunt velit veniam ullamco velit officia
      amet ea aliqua do esse velit consequat ex velit.</p>
    <p class="my-5">Minim sit dolore commodo enim ipsum. Dolore qui qui aliqua nostrud adipisicing Lorem velit qui. Laborum
      cupidatat incididunt aliquip officia excepteur adipisicing Lorem. Consectetur qui ex nulla et est Lorem enim commodo
      occaecat do non cupidatat aliqua non. Qui cillum incididunt eu laborum dolore exercitation quis sunt mollit veniam
      pariatur tempor occaecat ex. Et nulla consequat eiusmod fugiat ea reprehenderit sunt anim pariatur sint nostrud ut.</p>
    <p class="my-5">Amet in ipsum culpa minim ut cillum magna tempor enim nulla voluptate culpa quis enim. Cupidatat
      proident ipsum ad sunt amet do nulla mollit ad tempor occaecat minim. In sint aliqua veniam laborum dolore cupidatat
      amet id anim sit mollit consectetur sit. Proident mollit sit aliqua non pariatur consectetur velit fugiat. Tempor magna
      id in ex amet ex cupidatat.</p>
    {% include "components/FAQ.html" %}
    {% include "components/callus.html" %}
    <h2 class="my-4">Kingsley</h2>
    <p class="my-5">Lorem do sunt proident occaecat in incididunt. Cillum minim officia dolore officia culpa sunt nostrud
      dolore sunt Lorem pariatur non excepteur eu. Aliquip eiusmod reprehenderit voluptate qui duis irure qui enim nisi in id
      sint. Labore nulla laborum aliqua magna reprehenderit sit exercitation. Occaecat elit qui ea cillum cupidatat
      exercitation qui officia. Minim est tempor magna enim incididunt consectetur occaecat eiusmod incididunt Lorem mollit
      anim culpa.</p>
    <img src="/images/movers-header.jpg" alt="This is a description of the image"/>
    <p class="text-2xl">This is a description of the image</p>
    <p class="my-5">Laboris deserunt excepteur ut consequat consectetur ad ad ea commodo nisi ipsum. Ea esse sint deserunt
      pariatur. Cillum aliquip consectetur dolore minim duis in laborum. Pariatur consequat magna voluptate ex laboris commodo
      ut laboris commodo cillum nostrud labore. Ad aliqua consectetur nulla eu. Quis veniam enim voluptate et eu magna anim
      ipsum id cillum. Fugiat anim magna Lorem ex culpa enim nostrud magna.</p>
    {% include "components/callus.html" %}
  </div>
</section>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22732.9835904568!2d-85.55439002361786!3d44.58428271406908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881fb427fce82efb%3A0x77a809caeb5a937c!2sKingsley%2C%20MI%2049649!5e0!3m2!1sen!2sus!4v1697567843219!5m2!1sen!2sus"
    width="100%"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% include "components/sections/card_grid.html" %}
{% include "components/sections/testimonials.html" %}
{% include "components/sections/review.html" %}
{% include "components/sections/service_area.html" %}
{% include "components/sections/map.html" %}