---
layout: layouts/base.njk
title: Ascension Moving, LLC. | Long Distance Moving Experts In Northern Michigan
description: Professional Long Distance Moving Services In The Northern Michigan Area

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="position-relative col-md-12"
        style=" background: linear-gradient(to right, rgba(0, 24, 46,250), rgba(0, 32, 54, 0)), url('/images/movers-header.jpg'); background-size: cover; background-position: top center; height: 500px;">
        <div class="d-flex align-items-center justify-content-center h-100 mx-auto px-4" style="max-width: 225ch;">
          <div>
            <h1 class="text-light display-1 font-weight-bolder">
              Local Distance Moving
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container mx-auto p-4 text-3xl" style="max-width: 75ch;line-height: 1.75;">
    <div class="text-2xl my-4">
      <a href="/">Home</a>
      &gt; Moving Services
      &gt; Local Distance Moving
    </div>
    <h2 class="text-center text-5xl m-5">Local Distance Moving</h2>
    <p class="my-5">Leveraging two decades of experience in long distance moving, our team and partners have the breadth of service to easily and safely get you and your goods to your new home. </p>
    <p class="my-5">We always deliver 100% customer satisfaction and absolute quality work without any other compromise, 
just like we've been doing since 2020! When you are ready to have your items moved call the long distance moving experts at (231) 384-5753.</p>
    {% include "components/callus.html" %}
  </div>
</section>

{% include "components/sections/card_grid.html" %}

{% include "components/sections/testimonials.html" %}

{% include "components/sections/review.html" %}

{% include "components/sections/service_area.html" %}

{% include "components/sections/map.html" %}
