---
layout: layouts/base.njk
title: Ascension Moving, LLC. | Packing & Unpacking Moving Experts In Northern Michigan
description: Professional Packing & Unpacking Moving Services In The Northern Michigan Area
---

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="position-relative col-md-12"
        style=" background: linear-gradient(to right, rgba(0, 24, 46,250), rgba(0, 32, 54, 0)), url('/images/movers-header.jpg'); background-size: cover; background-position: top center; height: 500px;">
        <div class="d-flex align-items-center justify-content-center h-100 mx-auto px-4" style="max-width: 225ch;">
          <div>
            <h1 class="text-light display-1 font-weight-bolder">
              Packing & Unpacking
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container mx-auto p-4 text-3xl" style="max-width: 75ch;line-height: 1.75;">
    <div class="text-2xl my-4">
      <a href="/">Home</a>
      &gt; Moving Services
      &gt; Packing & Unpacking
    </div>
    <h2 class="text-center text-5xl m-5">Packing & Unpacking</h2>
    <p class="my-5">Full-service to DIY packing options make it easy to get your move quickly prepped. Our highly trained crews ensure your items arrive safe and sound. </p>
    <img src="/images/movers-header.jpg" alt="This is a description of the image"/>
    <p class="my-5">Laboris deserunt excepteur ut consequat consectetur ad ad ea commodo nisi ipsum. Ea esse sint deserunt
      pariatur. Cillum aliquip consectetur dolore minim duis in laborum. Pariatur consequat magna voluptate ex laboris commodo
      ut laboris commodo cillum nostrud labore. Ad aliqua consectetur nulla eu. Quis veniam enim voluptate et eu magna anim
      ipsum id cillum. Fugiat anim magna Lorem ex culpa enim nostrud magna.</p>
    {% include "components/callus.html" %}
  </div>
</section>

{% include "components/sections/card_grid.html" %}

{% include "components/sections/testimonials.html" %}

{% include "components/sections/review.html" %}

{% include "components/sections/service_area.html" %}

{% include "components/sections/map.html" %}
